@model ExpenseTrackerMVC.Models.mvcLimitModel
@{
    ViewBag.Title = "AddOrEdit limit";
    Html.EnableClientValidation(true);
}

<div class="breadcrumb">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa-solid fa-house"></i></a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Limit")">Limit</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add or Update limit</li>
        </ol>
    </nav>
</div>

<div class="form-body">
    <h2 id="form-heading">Total expense limit</h2>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.limitId)
        <div class="form-group">
            @Html.Label("Total expense limit")
            @Html.EditorFor(model => model.limit_amount)
            @Html.ValidationMessageFor(model => model.limit_amount)
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn button" id="submit" />
            <input type="reset" value="Reset" class="btn button" id="reset" />
        </div>

    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}


