@model IEnumerable<ExpenseTrackerMVC.Models.ExpenseModelClass>

<table class="table">
    <h4>Expenses</h4>
    <thead class="table-heading">
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
            <th>
                Category
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expense_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryName)
            </td>
        </tr>
    }

</table>
